/* Classes that provide general formatting or stylization that is used multiple times */
.app {
    box-sizing: border-box;
}

.spacer-hor {
    height: 1vh;
}

.list-area-style {
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(243, 243, 243);
    overflow-y: scroll;
}

.header-area-style {
    align-items: center;
    background-color: lightskyblue;
    border: 1px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.mark-complete {
    color: grey;
    text-decoration: line-through;
}

label, input::placeholder {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}
/* End of multi-class area */


/* Start of Header Section */
/* ----------------------- */
.header-main {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 80% 20%;
    height: 15vh;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 3px;
}

.header-text-area {
    display: flex;
    align-items: center;
    grid-area: 1 / 1 / span 1 / span 1;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.3em;
}

.header-text-area p {
    margin-left: 15px;
}

.title-smaller {
    font-size: 0.5em;
    margin-bottom: 40px;
    font-style: italic;
}

.header-image-area {
    display: flex;
    grid-area: 1 / 2 / span 1 / span 1;
    background-image: url(./images/title-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.header-image-area img {
    width: 90%;
}
/* --------------------- */
/* End of Header Section */


/* Start of Main Section */
/* --------------------- */
.main-area {
    display: grid;
    height: 100vh;
    grid-template-rows: 28% 2% 70%;
    grid-template-columns: 49.5% 1% 49.5%;
}

/* Start of Schedule Section */
.main-schedule {
    display: grid;
    grid-area: 1 / 1 / span 3 / span 1;
    grid-template-rows: 10% 3% 87%;
    grid-template-columns: 100%;
}

.main-schedule-header {
    display: flex;
    grid-area: 1 / 1 / span 1 / span 1;
    justify-content: space-evenly;
}

.error-div-schedule {
    display: flex;
    grid-area: 2 / 1 / span 1 / span 1;
    justify-content: center;
}

.main-schedule-list-area {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / span 2 / span 1;
    background-image: url(./images/dwight-1-bgimage.jpg);
    background-size: cover;
}

.schedule-ul li {
    padding-bottom: 9px;
}
/* End of Schedule Section */

/* Start of Priority Section */
.main-priority {
    display: grid;
    grid-area: 1 / 3 / span 1 / span 1;
    grid-template-rows: 36% 5% 59%;
    grid-template-columns: 100%;
}

.main-priority-header {
    display: flex;
    grid-area: 1 / 1 / span 1 / span 1;
    justify-content: center;
}

.error-div-priority {
    display: flex;
    grid-area: 2 / 1 / span 1 / span 1;
    justify-content: center;
}

.main-priority-list-area {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / span 2 / span 1;
    background-image: url(./images/dm-bgimage.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.priority-ul li {
    font-weight: bold;
    padding-bottom: 5px;
}
/* End of Priority Section */

/* Start of To Do Section */
.main-todo {
    display: grid;
    grid-area: 3 / 3 / span 1 / span 1;
    grid-template-rows: 16% 3% 81%;
    grid-template-columns: 100%;
}

.main-todo-header {
    display: flex;
    grid-area: 1 / 1 / span 1 / span 1;
    justify-content: center;
}

.error-div-todo {
    display: flex;
    grid-area: 2 / 1 / span 1 / span 1;
    justify-content: center;
}

.main-todo-list-area {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / span 2 / span 1;
    background-image: url(./images/jim-1-bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.todo-ul li {
    padding-bottom: 5px;
}
/* End of To Do Section */

/* Start of Notes Section */
.notes-main {
    display: grid;
    height: 40vh;
    grid-template-rows: 20% 3% 77%;
    grid-template-columns: 100%;
}

.notes-title {
    display: flex;
    grid-area: 1 / 1 / span 1 / span 1;
    align-items: center;
    justify-content: center;
}

.error-div-notes {
    display: flex;
    grid-area: 2 / 1 / span 1 / span 1;
    justify-content: center;
}

.notes-list-area {
    grid-area: 2 / 1 / span 2 / span 1;
    background-image: url(./images/dm-bgimage.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.notes-ul {
    list-style-type: square;
}

.notes-ul li {
    padding-bottom: 5px;
}
/* End of Note Section */
/* ------------------- */
/* End of Main Section */


/* Media Query Section */
@media (max-width: 1024px) {
    .header-main {
        order: 0;
    }

    .main-area {
        order: 1;
        height: 150vh;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 100%;
    }

    .header-image-area {
        grid-area: 1 / 2 / span 1 / span 1;
    }

    .main-priority {
        order: 2;
        grid-area: 1 / 1 / span 1 / span 1;
    }

    .main-schedule {
        order: 3;
        grid-area: 2 / 1 / span 1 / span 1;
        grid-template-rows: 20% 80%;
    }

    .main-schedule-header {
        font-size: 0.8em;
        justify-content: space-evenly;
    }

    .main-todo {
        order: 4;
        grid-area: 3 / 1 / span 1 / span 1;
    }

    .notes-main {
        order: 5;
    }

    
}

@media (max-width: 600px) {
    .header-text-area {
        font-size: 1.7em;
    }

    .header-image-area {
        background-image: none;
    }
}
/* End of Media Queries */